<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head', { title: 'FreshCart' }) %>
  </head>
  <body>
    <!-- navbar -->
    <%- include('./partials/navbar') %>
    <!-- Modal -->
    <div
      class="modal fade"
      id="userModal"
      tabindex="-1"
      aria-labelledby="userModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-4">
          <div class="modal-header border-0">
            <h5 class="modal-title fs-3 fw-bold" id="userModalLabel">
              Đăng ký
            </h5>

            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form class="needs-validation" novalidate>
              <div class="mb-3">
                <label for="fullName" class="form-label">Họ tên</label>
                <input
                  type="text"
                  class="form-control"
                  id="fullName"
                  placeholder="Nhập họ tên của bạn"
                  required
                />
                <div class="invalid-feedback">Vui lòng nhập họ tên.</div>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="Nhập email của bạn"
                  required
                />
                <div class="invalid-feedback">Vui lòng nhập email</div>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Mật khẩu</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  placeholder="Nhập mật khẩu của bạn"
                  required
                />
                <div class="invalid-feedback">Vui lòng nhập mật khẩu.</div>
                <small class="form-text">
                  Khi bạn đăng nhập bạn đã đồng ý với các
                  <a href="#!">Điều khoản</a>
                  &
                  <a href="#!">Privacy Policy</a>
                </small>
              </div>

              <button type="submit" class="btn btn-primary" type="submit">
                Đăng ký
              </button>
            </form>
          </div>
          <div class="modal-footer border-0 justify-content-center">
            Bạn đã có tài khoản
            <a href="#">Đăng nhập</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Shop Cart -->

    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasRight"
      aria-labelledby="offcanvasRightLabel"
    >
      <div class="offcanvas-header border-bottom">
        <div class="text-start">
          <h5 id="offcanvasRightLabel" class="mb-0 fs-4">Giỏ hàng</h5>
          <small>Location in 382480</small>
        </div>
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <div>
          <!-- alert -->
          <div class="alert alert-danger p-2" role="alert">
            You’ve got FREE delivery. Start
            <a href="#!" class="alert-link">checkout now!</a>
          </div>
          <ul class="list-group list-group-flush">
            <!-- list group -->
            <li class="list-group-item py-3 ps-0 border-top">
              <!-- row -->
              <div class="row align-items-center">
                <div class="col-6 col-md-6 col-lg-7">
                  <div class="d-flex">
                    <img
                      src="../../assets/images/products/product-img-1.jpg"
                      alt="Ecommerce"
                      class="icon-shape icon-xxl"
                    />
                    <div class="ms-3">
                      <!-- title -->
                      <a href="pages/shop-single.html" class="text-inherit">
                        <h6 class="mb-0">Haldiram's Sev Bhujia</h6>
                      </a>
                      <span><small class="text-muted">.98 / lb</small></span>
                      <!-- text -->
                      <div class="mt-2 small lh-1">
                        <a href="#!" class="text-decoration-none text-inherit">
                          <span class="me-1 align-text-bottom">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="14"
                              height="14"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="feather feather-trash-2 text-success"
                            >
                              <polyline points="3 6 5 6 21 6"></polyline>
                              <path
                                d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
                              ></path>
                              <line x1="10" y1="11" x2="10" y2="17"></line>
                              <line x1="14" y1="11" x2="14" y2="17"></line>
                            </svg>
                          </span>
                          <span class="text-muted">Remove</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- input group -->
                <div class="col-4 col-md-3 col-lg-3">
                  <!-- input -->
                  <!-- input -->
                  <div class="input-group input-spinner">
                    <input
                      type="button"
                      value="-"
                      class="button-minus btn btn-sm"
                      data-field="quantity"
                    />
                    <input
                      type="number"
                      step="1"
                      max="10"
                      value="1"
                      name="quantity"
                      class="quantity-field form-control-sm form-input"
                    />
                    <input
                      type="button"
                      value="+"
                      class="button-plus btn btn-sm"
                      data-field="quantity"
                    />
                  </div>
                </div>
                <!-- price -->
                <div class="col-2 text-lg-end text-start text-md-end col-md-2">
                  <span class="fw-bold">50.000 VND.00</span>
                </div>
              </div>
            </li>
            <!-- list group -->
            <li class="list-group-item py-3 ps-0">
              <!-- row -->
              <div class="row align-items-center">
                <div class="col-6 col-md-6 col-lg-7">
                  <div class="d-flex">
                    <img
                      src="../../assets/images/products/product-img-2.jpg"
                      alt="Ecommerce"
                      class="icon-shape icon-xxl"
                    />
                    <div class="ms-3">
                      <a href="pages/shop-single.html" class="text-inherit">
                        <h6 class="mb-0">NutriChoice Digestive</h6>
                      </a>
                      <span><small class="text-muted">250g</small></span>
                      <!-- text -->
                      <div class="mt-2 small lh-1">
                        <a href="#!" class="text-decoration-none text-inherit">
                          <span class="me-1 align-text-bottom">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="14"
                              height="14"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="feather feather-trash-2 text-success"
                            >
                              <polyline points="3 6 5 6 21 6"></polyline>
                              <path
                                d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
                              ></path>
                              <line x1="10" y1="11" x2="10" y2="17"></line>
                              <line x1="14" y1="11" x2="14" y2="17"></line>
                            </svg>
                          </span>
                          <span class="text-muted">Remove</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- input group -->
                <div class="col-4 col-md-3 col-lg-3">
                  <!-- input -->
                  <!-- input -->
                  <div class="input-group input-spinner">
                    <input
                      type="button"
                      value="-"
                      class="button-minus btn btn-sm"
                      data-field="quantity"
                    />
                    <input
                      type="number"
                      step="1"
                      max="10"
                      value="1"
                      name="quantity"
                      class="quantity-field form-control-sm form-input"
                    />
                    <input
                      type="button"
                      value="+"
                      class="button-plus btn btn-sm"
                      data-field="quantity"
                    />
                  </div>
                </div>
                <!-- price -->
                <div class="col-2 text-lg-end text-start text-md-end col-md-2">
                  <span class="fw-bold text-danger">50.000 VND</span>
                  <div class="text-decoration-line-through text-muted small">
                    50.000 VND
                  </div>
                </div>
              </div>
            </li>
            <!-- list group -->
            <li class="list-group-item py-3 ps-0">
              <!-- row -->
              <div class="row align-items-center">
                <div class="col-6 col-md-6 col-lg-7">
                  <div class="d-flex">
                    <img
                      src="../../assets/images/products/product-img-3.jpg"
                      alt="Ecommerce"
                      class="icon-shape icon-xxl"
                    />
                    <div class="ms-3">
                      <!-- title -->
                      <a href="pages/shop-single.html" class="text-inherit">
                        <h6 class="mb-0">Cadbury 5 Star Chocolate</h6>
                      </a>
                      <span><small class="text-muted">1 kg</small></span>
                      <!-- text -->
                      <div class="mt-2 small lh-1">
                        <a href="#!" class="text-decoration-none text-inherit">
                          <span class="me-1 align-text-bottom">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="14"
                              height="14"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="feather feather-trash-2 text-success"
                            >
                              <polyline points="3 6 5 6 21 6"></polyline>
                              <path
                                d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
                              ></path>
                              <line x1="10" y1="11" x2="10" y2="17"></line>
                              <line x1="14" y1="11" x2="14" y2="17"></line>
                            </svg>
                          </span>
                          <span class="text-muted">Remove</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- input group -->
                <div class="col-4 col-md-3 col-lg-3">
                  <!-- input -->
                  <!-- input -->
                  <div class="input-group input-spinner">
                    <input
                      type="button"
                      value="-"
                      class="button-minus btn btn-sm"
                      data-field="quantity"
                    />
                    <input
                      type="number"
                      step="1"
                      max="10"
                      value="1"
                      name="quantity"
                      class="quantity-field form-control-sm form-input"
                    />
                    <input
                      type="button"
                      value="+"
                      class="button-plus btn btn-sm"
                      data-field="quantity"
                    />
                  </div>
                </div>
                <!-- price -->
                <div class="col-2 text-lg-end text-start text-md-end col-md-2">
                  <span class="fw-bold">50.000 VND</span>
                  <div class="text-decoration-line-through text-muted small">
                    50.000 VND
                  </div>
                </div>
              </div>
            </li>
            <!-- list group -->
            <li class="list-group-item py-3 ps-0">
              <!-- row -->
              <div class="row align-items-center">
                <div class="col-6 col-md-6 col-lg-7">
                  <div class="d-flex">
                    <img
                      src="../../assets/images/products/product-img-4.jpg"
                      alt="Ecommerce"
                      class="icon-shape icon-xxl"
                    />
                    <div class="ms-3">
                      <!-- title -->
                      <!-- title -->
                      <a href="pages/shop-single.html" class="text-inherit">
                        <h6 class="mb-0">Onion Flavour Potato</h6>
                      </a>
                      <span><small class="text-muted">250g</small></span>
                      <!-- text -->
                      <div class="mt-2 small lh-1">
                        <a href="#!" class="text-decoration-none text-inherit">
                          <span class="me-1 align-text-bottom">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="14"
                              height="14"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="feather feather-trash-2 text-success"
                            >
                              <polyline points="3 6 5 6 21 6"></polyline>
                              <path
                                d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
                              ></path>
                              <line x1="10" y1="11" x2="10" y2="17"></line>
                              <line x1="14" y1="11" x2="14" y2="17"></line>
                            </svg>
                          </span>
                          <span class="text-muted">Remove</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- input group -->
                <div class="col-4 col-md-3 col-lg-3">
                  <!-- input -->
                  <!-- input -->
                  <div class="input-group input-spinner">
                    <input
                      type="button"
                      value="-"
                      class="button-minus btn btn-sm"
                      data-field="quantity"
                    />
                    <input
                      type="number"
                      step="1"
                      max="10"
                      value="1"
                      name="quantity"
                      class="quantity-field form-control-sm form-input"
                    />
                    <input
                      type="button"
                      value="+"
                      class="button-plus btn btn-sm"
                      data-field="quantity"
                    />
                  </div>
                </div>
                <!-- price -->
                <div class="col-2 text-lg-end text-start text-md-end col-md-2">
                  <span class="fw-bold">50.000 VND</span>
                  <div class="text-decoration-line-through text-muted small">
                    50.000 VND
                  </div>
                </div>
              </div>
            </li>
            <!-- list group -->
            <li class="list-group-item py-3 ps-0 border-bottom">
              <!-- row -->
              <div class="row align-items-center">
                <div class="col-6 col-md-6 col-lg-7">
                  <div class="d-flex">
                    <img
                      src="../../assets/images/products/product-img-5.jpg"
                      alt="Ecommerce"
                      class="icon-shape icon-xxl"
                    />
                    <div class="ms-3">
                      <!-- title -->
                      <a href="pages/shop-single.html" class="text-inherit">
                        <h6 class="mb-0">Salted Instant Popcorn</h6>
                      </a>
                      <span><small class="text-muted">100g</small></span>
                      <!-- text -->
                      <div class="mt-2 small lh-1">
                        <a href="#!" class="text-decoration-none text-inherit">
                          <span class="me-1 align-text-bottom">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="14"
                              height="14"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="feather feather-trash-2 text-success"
                            >
                              <polyline points="3 6 5 6 21 6"></polyline>
                              <path
                                d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
                              ></path>
                              <line x1="10" y1="11" x2="10" y2="17"></line>
                              <line x1="14" y1="11" x2="14" y2="17"></line>
                            </svg>
                          </span>
                          <span class="text-muted">Remove</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- input group -->
                <div class="col-4 col-md-3 col-lg-3">
                  <!-- input -->
                  <!-- input -->
                  <div class="input-group input-spinner">
                    <input
                      type="button"
                      value="-"
                      class="button-minus btn btn-sm"
                      data-field="quantity"
                    />
                    <input
                      type="number"
                      step="1"
                      max="10"
                      value="1"
                      name="quantity"
                      class="quantity-field form-control-sm form-input"
                    />
                    <input
                      type="button"
                      value="+"
                      class="button-plus btn btn-sm"
                      data-field="quantity"
                    />
                  </div>
                </div>
                <!-- price -->
                <div class="col-2 text-lg-end text-start text-md-end col-md-2">
                  <span class="fw-bold">50.000 VND</span>
                  <div class="text-decoration-line-through text-muted small">
                    50.000 VND.00
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <!-- btn -->
          <div class="d-flex justify-content-between mt-4">
            <a href="#!" class="btn btn-primary">Continue Shopping</a>
            <a href="#!" class="btn btn-dark">Update Cart</a>
          </div>
        </div>
      </div>
    </div>

    <main>
      <section class="mt-8">
        <div class="container">
          <div class="hero-slider">
            <div
              style="
                background: url(../../assets/images/slider/slide-1.jpg)
                  no-repeat;
                background-size: cover;
                border-radius: 0.5rem;
                background-position: center;
              "
            >
              <div
                class="ps-lg-12 py-lg-16 col-xxl-5 col-md-7 py-14 px-8 text-xs-center"
              >
                <span class="badge text-bg-warning">Giảm giá tới 50%</span>

                <h2 class="text-dark display-5 fw-bold mt-4">
                  Cửa hàng tiện lợi với thực phẩm sạch
                </h2>
                <p class="lead">
                  Introduced a new model for online grocery shopping and
                  convenient home delivery.
                </p>
                <a href="#!" class="btn btn-dark mt-3">
                  Shop Now
                  <i class="feather-icon icon-arrow-right ms-1"></i>
                </a>
              </div>
            </div>
            <div
              style="
                background: url(../../assets/images/slider/slider-2.jpg)
                  no-repeat;
                background-size: cover;
                border-radius: 0.5rem;
                background-position: center;
              "
            >
              <div
                class="ps-lg-12 py-lg-16 col-xxl-5 col-md-7 py-14 px-8 text-xs-center"
              >
                <span class="badge text-bg-warning"
                  >Miễn phí giao hàng - đơn hàng trên 250.000 VND</span
                >
                <h2 class="text-dark display-5 fw-bold mt-4">
                  Miễn phí giao hàng
                  <br />
                  cho đơn hàng trên
                  <span class="text-primary">250.000 VND</span>
                </h2>
                <p class="lead">
                  Free Shipping to First-Time Customers Only, After promotions
                  and discounts are applied.
                </p>
                <a href="#!" class="btn btn-dark mt-3">
                  Shop Now
                  <i class="feather-icon icon-arrow-right ms-1"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Category Section Start-->
      <section class="mb-lg-10 mt-lg-14 my-8">
        <div class="container">
          <div class="row">
            <div class="col-12 mb-6">
              <h3 class="mb-0">Danh mục sản phẩm</h3>
            </div>
          </div>
          <div class="category-slider">
            <% categories.forEach(category => { %>
            <!-- Lặp qua từng danh mục -->
            <div class="item">
              <a
                href="pages/shop-grid.html"
                class="text-decoration-none text-inherit"
              >
                <div class="card card-product mb-lg-4">
                  <div class="card-body text-center py-8">
                    <!-- Hiển thị hình ảnh của danh mục -->
                    <img
                      src="<%= category.image %>"
                      alt="<%= category.name %>"
                      class="mb-3 img-fluid"
                    />
                    <!-- Hiển thị tên của danh mục -->
                    <div class="text-truncate"><%= category.name %></div>
                  </div>
                </div>
              </a>
            </div>
            <% }) %>
            <!-- Kết thúc vòng lặp -->
          </div>
        </div>
      </section>
      <!-- Category Section End-->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-6 mb-3 mb-lg-0">
              <div>
                <div
                  class="py-10 px-8 rounded"
                  style="
                    background: url(../../assets/images/banner/grocery-banner.png)
                      no-repeat;
                    background-size: cover;
                    background-position: center;
                  "
                >
                  <div>
                    <h3 class="fw-bold mb-1">Fruits & Vegetables</h3>
                    <p class="mb-4">
                      Get Upto
                      <span class="fw-bold">30%</span>
                      Off
                    </p>
                    <a href="#!" class="btn btn-dark">Shop Now</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div>
                <div
                  class="py-10 px-8 rounded"
                  style="
                    background: url(../../assets/images/banner/grocery-banner-2.jpg)
                      no-repeat;
                    background-size: cover;
                    background-position: center;
                  "
                >
                  <div>
                    <h3 class="fw-bold mb-1">Freshly Baked Buns</h3>
                    <p class="mb-4">
                      Get Upto
                      <span class="fw-bold">25%</span>
                      Off
                    </p>
                    <a href="#!" class="btn btn-dark">Shop Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Popular Products -->
      <section class="products-section my-lg-14 my-8">
        <div class="container">
          <div class="row">
            <div class="col-12 mb-6">
              <h3 class="mb-0">Các sản phẩm phổ biến</h3>
            </div>
          </div>
          <div class="row g-4 row-cols-lg-5 row-cols-2 row-cols-md-3">
            <% products.forEach(product => { %>
            <div class="col">
              <div class="card card-product">
                <div class="card-body">
                  <div class="text-center position-relative">
                    <a href="#!">
                      <img
                        src="<%= product.image %>"
                        alt="<%= product.name %>"
                        class="mb-3 img-fluid"
                      />
                    </a>
                    <div class="card-product-action">
                      <a
                        href="#!"
                        class="btn-action"
                        data-bs-toggle="modal"
                        data-bs-target="#quickViewModal"
                        onclick="fetchProductDetails('<%= product.id %>')"
                      >
                        <i
                          class="bi bi-eye"
                          data-bs-toggle="tooltip"
                          data-bs-html="true"
                          title="Quick View"
                        ></i>
                      </a>
                    </div>
                  </div>
                  <div class="text-small mb-1">
                    <a href="#!" class="text-decoration-none text-muted">
                      <small><%= product.category %></small>
                    </a>
                  </div>
                  <h2 class="fs-6">
                    <a
                      href="pages/shop-single.html"
                      class="text-inherit text-decoration-none"
                    >
                      <%= product.name %>
                    </a>
                  </h2>
                  <div
                    class="d-flex justify-content-between align-items-center mt-3"
                  >
                    <div>
                      <span class="text-dark"><%= product.price %> VND</span>
                    </div>
                    <div>
                      <a href="#!" class="btn btn-primary btn-sm">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="feather feather-plus"
                        >
                          <line x1="12" y1="5" x2="12" y2="19"></line>
                          <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                        Add
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
      </section>
      <!-- Popular Products End-->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-md-12 mb-6">
              <h3 class="mb-0">Bán chạy nhất hôm nay</h3>
            </div>
          </div>
          <div class="table-responsive-lg pb-6">
            <div
              class="row row-cols-lg-4 row-cols-1 row-cols-md-2 g-4 flex-nowrap"
            >
              <div class="col">
                <div
                  class="pt-8 px-6 px-xl-8 rounded"
                  style="
                    background: url(../../assets/images/banner/banner-deal.jpg)
                      no-repeat;
                    background-size: cover;
                    height: 470px;
                  "
                >
                  <div>
                    <h3 class="fw-bold text-white">
                      100% cà phê hạt nguyên chất.
                    </h3>
                    <p class="text-white">Get the best deal before close.</p>
                    <a href="#!" class="btn btn-primary">
                      Mua ngay
                      <i class="feather-icon icon-arrow-right ms-1"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-product">
                  <div class="card-body">
                    <div class="text-center position-relative">
                      <a href="pages/shop-single.html"
                        ><img
                          src="../../assets/images/products/product-img-11.jpg"
                          alt="Grocery Ecommerce Template"
                          class="mb-3 img-fluid"
                      /></a>

                      <div class="card-product-action">
                        <a
                          href="#!"
                          class="btn-action"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                        >
                          <i
                            class="bi bi-eye"
                            data-bs-toggle="tooltip"
                            data-bs-html="true"
                            title="Quick View"
                          ></i>
                        </a>
                        <a
                          href="#!"
                          class="btn-action"
                          data-bs-toggle="tooltip"
                          data-bs-html="true"
                          title="Wishlist"
                          ><i class="bi bi-heart"></i
                        ></a>
                        <a
                          href="#!"
                          class="btn-action"
                          data-bs-toggle="tooltip"
                          data-bs-html="true"
                          title="Compare"
                          ><i class="bi bi-arrow-left-right"></i
                        ></a>
                      </div>
                    </div>
                    <div class="text-small mb-1">
                      <a href="#!" class="text-decoration-none text-muted"
                        ><small>Tea, Coffee & Drinks</small></a
                      >
                    </div>
                    <h2 class="fs-6">
                      <a
                        href="pages/shop-single.html"
                        class="text-inherit text-decoration-none"
                        >Roast Ground Coffee</a
                      >
                    </h2>

                    <div
                      class="d-flex justify-content-between align-items-center mt-3"
                    >
                      <div>
                        <span class="text-dark">50.000 VND</span>
                        <span class="text-decoration-line-through text-muted"
                          >50.000 VND</span
                        >
                      </div>
                      <div>
                        <small class="text-warning">
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-half"></i>
                        </small>
                        <span><small>4.5</small></span>
                      </div>
                    </div>
                    <div class="d-grid mt-2">
                      <a href="#!" class="btn btn-primary">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="feather feather-plus"
                        >
                          <line x1="12" y1="5" x2="12" y2="19"></line>
                          <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                        Add to cart
                      </a>
                    </div>
                    <div class="d-flex justify-content-start text-center mt-3">
                      <div
                        class="deals-countdown w-100"
                        data-countdown="2025/1/10 00:00:00"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-product">
                  <div class="card-body">
                    <div class="text-center position-relative">
                      <a href="pages/shop-single.html"
                        ><img
                          src="../../assets/images/products/product-img-12.jpg"
                          alt="Grocery Ecommerce Template"
                          class="mb-3 img-fluid"
                      /></a>
                      <div class="card-product-action">
                        <a
                          href="#!"
                          class="btn-action"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                        >
                          <i
                            class="bi bi-eye"
                            data-bs-toggle="tooltip"
                            data-bs-html="true"
                            title="Quick View"
                          ></i>
                        </a>
                        <a
                          href="#!"
                          class="btn-action"
                          data-bs-toggle="tooltip"
                          data-bs-html="true"
                          title="Wishlist"
                          ><i class="bi bi-heart"></i
                        ></a>
                        <a
                          href="#!"
                          class="btn-action"
                          data-bs-toggle="tooltip"
                          data-bs-html="true"
                          title="Compare"
                          ><i class="bi bi-arrow-left-right"></i
                        ></a>
                      </div>
                    </div>
                    <div class="text-small mb-1">
                      <a href="#!" class="text-decoration-none text-muted"
                        ><small>Fruits & Vegetables</small></a
                      >
                    </div>
                    <h2 class="fs-6">
                      <a
                        href="pages/shop-single.html"
                        class="text-inherit text-decoration-none"
                        >Crushed Tomatoes</a
                      >
                    </h2>
                    <div
                      class="d-flex justify-content-between align-items-center mt-3"
                    >
                      <div>
                        <span class="text-dark">50.000 VND</span>
                        <span class="text-decoration-line-through text-muted"
                          >50.000 VND</span
                        >
                      </div>
                      <div>
                        <small class="text-warning">
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-half"></i>
                        </small>
                        <span><small>4.5</small></span>
                      </div>
                    </div>
                    <div class="d-grid mt-2">
                      <a href="#!" class="btn btn-primary">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="feather feather-plus"
                        >
                          <line x1="12" y1="5" x2="12" y2="19"></line>
                          <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                        Add to cart
                      </a>
                    </div>
                    <div
                      class="d-flex justify-content-start text-center mt-3 w-100"
                    >
                      <div
                        class="deals-countdown w-100"
                        data-countdown="2025/1/9 00:00:00"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card card-product">
                  <div class="card-body">
                    <div class="text-center position-relative">
                      <a href="pages/shop-single.html"
                        ><img
                          src="../../assets/images/products/product-img-13.jpg"
                          alt="Grocery Ecommerce Template"
                          class="mb-3 img-fluid"
                      /></a>
                      <div class="card-product-action">
                        <a
                          href="#!"
                          class="btn-action"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                        >
                          <i
                            class="bi bi-eye"
                            data-bs-toggle="tooltip"
                            data-bs-html="true"
                            title="Quick View"
                          ></i>
                        </a>
                        <a
                          href="#!"
                          class="btn-action"
                          data-bs-toggle="tooltip"
                          data-bs-html="true"
                          title="Wishlist"
                          ><i class="bi bi-heart"></i
                        ></a>
                        <a
                          href="#!"
                          class="btn-action"
                          data-bs-toggle="tooltip"
                          data-bs-html="true"
                          title="Compare"
                          ><i class="bi bi-arrow-left-right"></i
                        ></a>
                      </div>
                    </div>
                    <div class="text-small mb-1">
                      <a href="#!" class="text-decoration-none text-muted"
                        ><small>Fruits & Vegetables</small></a
                      >
                    </div>
                    <h2 class="fs-6">
                      <a
                        href="pages/shop-single.html"
                        class="text-inherit text-decoration-none"
                        >Golden Pineapple</a
                      >
                    </h2>
                    <div
                      class="d-flex justify-content-between align-items-center mt-3"
                    >
                      <div>
                        <span class="text-dark">50.000 VND</span>
                        <span class="text-decoration-line-through text-muted"
                          >50.000 VND</span
                        >
                      </div>
                      <div>
                        <small class="text-warning">
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-fill"></i>
                          <i class="bi bi-star-half"></i>
                        </small>
                        <span><small>4.5</small></span>
                      </div>
                    </div>
                    <div class="d-grid mt-2">
                      <a href="#!" class="btn btn-primary">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="feather feather-plus"
                        >
                          <line x1="12" y1="5" x2="12" y2="19"></line>
                          <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                        Add to cart
                      </a>
                    </div>
                    <div class="d-flex justify-content-start text-center mt-3">
                      <div
                        class="deals-countdown w-100"
                        data-countdown="2025/2/1 00:00:00"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- <section class="my-lg-14 my-8">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-3">
              <div class="mb-8 mb-xl-0">
                <div class="mb-6">
                  <img src="../../assets/images/icons/clock.svg" alt="" />
                </div>
                <h3 class="h5 mb-3">10 minute grocery now</h3>
                <p>
                  Get your order delivered to your doorstep at the earliest from
                  FreshCart pickup stores near you.
                </p>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="mb-8 mb-xl-0">
                <div class="mb-6">
                  <img src="../../assets/images/icons/gift.svg" alt="" />
                </div>
                <h3 class="h5 mb-3">Best Prices & Offers</h3>
                <p>
                  Cheaper prices than your local supermarket, great cashback
                  offers to top it off. Get best pricess & offers.
                </p>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="mb-8 mb-xl-0">
                <div class="mb-6">
                  <img src="../../assets/images/icons/package.svg" alt="" />
                </div>
                <h3 class="h5 mb-3">Wide Assortment</h3>
                <p>
                  Choose from 5000+ products across food, personal care,
                  household, bakery, veg and non-veg & other categories.
                </p>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="mb-8 mb-xl-0">
                <div class="mb-6">
                  <img src="../../assets/images/icons/refresh-cw.svg" alt="" />
                </div>
                <h3 class="h5 mb-3">Easy Returns</h3>
                <p>
                  Not satisfied with a product? Return it at the doorstep & get
                  a refund within hours. No questions asked
                  <a href="#!">policy</a>
                  .
                </p>
              </div>
            </div>
          </div>
        </div>
      </section> -->
    </main>

    <!-- Modal -->
    <%- include('./partials/productsModal.ejs', { product: selectedProduct }) %>

    <!-- footer -->
    <%- include('./partials/footer.ejs') %>

    <!-- Javascript-->
    <%- include('./partials/js.ejs') %>
  </body>

  <!-- Mirrored from freshcart.codescandy.com/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 25 Dec 2024 07:46:25 GMT -->
</html>
